<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<nav class="navbar" style="background-color: #2e4156;">
    <div class="container-fluid">
      <div class="col-md-4 ">
        <h1 style="color: white;">Roles</h1>
      </div>
    </div>
  </nav>
  
  <div class="col-md-12 p-2">
    
    <div class="input-group mb-3">
        <input 
          type="number" 
          class="form-control" 
          placeholder="Ingresa el ID del Role" 
          [(ngModel)]="roleId" 
          aria-label="ID del Role">
        <button class="btn btn-primary" type="button" (click)="buscarRolePorId()" >Buscar</button>
      </div>
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa fa-save"></i> Nuevo Rol
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="list()">
        <i class="fa fa-refresh"></i> 
      </button>
    <table class="table mt-2 table-bordered">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listRole">
          <td>{{item.id}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.estado ? 'Activo' : 'Inactivo'}}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectItem(item)">
                <i class="fas fa-pencil-alt"></i> 
            </button>
            &nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)">
              <i class="fa fa-trash"></i> 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Modal para agregar/editar rol -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 *ngIf="!isUpdate" class="modal-title fs-5">Nuevo Rol</h1>
          <h1 *ngIf="isUpdate" class="modal-title fs-5">Editar Rol</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="newRol()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formRole">
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">Id</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="id">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="nombre">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">Estado</label>
              <div class="col-sm-10">
                <select class="form-control" formControlName="estado">
                  <option [value]="true">Activo</option>
                  <option [value]="false">Inactivo</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
          <button *ngIf="!isUpdate" type="button" class="btn btn-success btn-sm" (click)="save()">Guardar</button>
          <button *ngIf="isUpdate" type="button" class="btn btn-warning btn-sm" (click)="update()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
  